<h1>Listing Lists</h1>

  <table>
    <thead>
      <tr>
        <td><%= @list.title %></td>

        <td>
          <br />
          <span>
          </span>
          <br />
          <span>
          </span>
        </td>
      </tr>
    </thead>
    <tbody>
      <%= for list <- @lists do %>
        <tr>
          <td><%= list.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<span>
</span>

