<.form let={f} for={@changeset} phx-change="validate" phx-submit="save">
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>
        Oops, something went wrong!
      </p>
    </div>
  <% end %>

  <%= label(f, :title) %>
  <%= text_input(f, :title) %>
  <%= error_tag(f, :title) %>

  <button type="submit">
    Save
  </button>
</.form>
