/* This file is for your main application CSS */
@import "./phoenix.css";

.home-link {
  font-weight: bold;
  font-size: 3rem;
  padding-left: 10rem;
}

input:hover {
  background-color: rgba(234, 234, 234, 0.4);
}

.collab-list-title {
  border-radius: 5rem;
}

.list-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

/* List Item status buttons */
.status-button {
  margin-left: auto;
  margin-right: auto;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg) scale(1.5);
  outline: rgb(0, 0, 0) 1px solid;
}

.status-button:hover {
  cursor: pointer;
}

.status-none {
  background-color: rgba(0, 0, 0, 0);
}

.status-none {
  background: rgba(0, 0, 0, 0);
}

.status-none:hover {
  background-color: rgba(234, 234, 234, 0.4);
}

.status-checked {
  background: green;
}

.status-checked:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: #fff;
  left: 11px;
  top: 6px;
}

.status-checked:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  left: 8px;
  top: 12px;
}

.status-checked:hover {
  background-color: green;
}

.status-striked {
  background: red;
}

.status-striked:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 11px;
  background-color: #fff;
  left: 10px;
  top: 6px;
}

.status-striked:after {
  content: "";
  position: absolute;
  width: 11px;
  height: 3px;
  background-color: #fff;
  left: 6px;
  top: 10px;
}

.status-striked:hover {
  background-color: red;
}

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* invites modal */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-inner-container {
  position: relative;
  z-index: 999;
}

.modal-card {
  height: auto;
  width: auto;
  margin: 0.5rem;
  border-radius: 0.4rem;
  background-color: #fff;
}

.modal-inner-card {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.modal-title {
  color: #0069d9;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.075em;
}

.modal-form-title {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0.075em;
  margin-bottom: 1.75rem;
}

.modal-body {
  margin-top: 0.8rem;
  text-align: center;
  font-size: 1.6rem;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.75rem;
}

.left-button {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.right-button {
  margin-left: 0.6rem;
}

.fix-position {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

/* Trash icon */
.gg-trash {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(1.5);
  width: 10px;
  height: 12px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  margin-top: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
.gg-trash::after,
.gg-trash::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}
.gg-trash::after {
  background: currentColor;
  border-radius: 3px;
  width: 16px;
  height: 2px;
  top: -4px;
  left: -5px;
}
.gg-trash::before {
  width: 10px;
  height: 4px;
  border: 2px solid;
  border-bottom: transparent;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  top: -7px;
  left: -2px;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
