<h1>Show List</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for item <- @list_items do %>
    <tr>
      <td><%= item.content %></td>

      <td>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

