<h1>Collaborting on list: <%= @list.title %></h1>

<table>
  <thead>
    <tr>
      <th>Items</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for item <- @list_items do %>
    <tr>
      <td><%= item.content %></td>

      <td>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "Add item", to: Routes.collab_path(@conn, :new, @list.id) %></span>

<br>

<span><%= link "Back", to: Routes.list_path(@conn, :index) %></span>

