<.form let={f} for={@changeset} phx-change="validate" phx-submit="save">
  <%= label(f, :content) %>
  <%= text_input(f, :content) %>
  <%= error_tag(f, :content) %>

  <button type="submit">
    Save
  </button>
</.form>
