<h1>Add item to list: <%= @list.title %></h1>

<%= render(
  "new_item_form.html",
  Map.put(@conn.assigns, :action, Routes.collab_path(@conn, :create, @list))
) %>

<span><%= link("Back", to: Routes.collab_path(@conn, :index, @list.id)) %></span>
